#hero {
  position: relative;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  // If you want to set a background image on the hero section, uncomment these with your custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }
  .effect-wrap {
    .effect {
      position: absolute;
    }
    .square {
      width: 35px;
      height: 35px;
      border: 4px solid #8a49ff;
      top: 15%;
      right: 10%;
      animation: spin 40s ease-in-out infinite;
    }
    .dotted {
      left: 10%;
      bottom: 35%;
      width: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      animation: topBounce 40s linear infinite;
      @include respond(tab-land) {
        left: 3%;
        // top: -5%;
      }
      div {
        width: 3px;
        height: 3px;
        background-color: #ff9c07;
        margin: 0 3px 8px;
      }
    }
    .circle-dotted {
      height: 140px;
      width: 140px;
      border: 15px dotted $primary-color;
      border-left: 15px dotted #aca8a8;
      border-right: 15px dotted #aca8a8;
      border-radius: 50%;
      left: -2%;
      top: -4%;
      animation: spinLinear 90s linear infinite;
      @include respond(phone-xs) {
        height: 80px;
        width: 80px;
        border: 7px dotted $primary-color;
        border-right: 7px dotted #aca8a8;
        border-left: 7px dotted #aca8a8;
        left: -8%;
        top: -5%;
      }
      @include respond(phone) {
        height: 100px;
        width: 100px;
        left: -6%;
        top: -5%;
        border: 10px dotted $primary-color;
        border-left: 10px dotted #aca8a8;
        border-right: 10px dotted #aca8a8;
      }
      @include respond(tab-port) {
        left: -8%;
        top: -5%;
      }
      @include respond(tab-land) {
        left: -5%;
        top: -5%;
      }
    }

    .leaf-wrapper {
      position: absolute;
      bottom: 45%;
      left: 60%;
      width: 100px;
      height: 100px;
      // animation: scale 10s linear;

      @include respond(tab-port) {
        opacity: 0.6;
        bottom: 0%;
        left: 42%;
      }
      @include respond(phone) {
        opacity: 0.6;
        bottom: 0%;
        left: 54.6%;
      }
      @include respond(phone-xs) {
        opacity: 0.4;
        bottom: 0%;
        left: 40%;
      }
    }

    .leaf-1 {
      position: absolute;
      left: -10.5%;
      bottom: 0%;
      width: 50px;
      height: 50px;
      background: rgb(84, 224, 84);
      border-radius: 100% 0;
      transform: rotate(-89deg);
      @include respond(phone) {
        left: -55%;
        bottom: 0%;
        width: 25px;
        height: 25px;
      }
      @include respond(phone-xs) {
        left: 0.1%;
        bottom: 0%;
        width: 25px;
        height: 25px;
      }
    }

    .leaf-2 {
      position: absolute;
      left: 20%;
      bottom: 11%;
      width: 60px;
      height: 60px;
      background: rgb(51, 179, 51);
      border-radius: 100% 0;
      transform: rotate(-44deg);
      z-index: 2;
      @include respond(phone) {
        left: -40.5%;
        bottom: 0%;
        width: 40px;
        height: 40px;
      }
      @include respond(phone-xs) {
        left: 14.5%;
        bottom: 0%;
        width: 40px;
        height: 40px;
      }
    }

    .leaf-3 {
      position: absolute;
      right: -10%;
      bottom: 0%;
      width: 50px;
      height: 50px;
      background: rgb(34, 190, 34);
      border-radius: 100% 0;
      transform: rotate(5deg);
      @include respond(phone) {
        left: -10.5%;
        bottom: 0%;
        width: 25px;
        height: 25px;
      }
      @include respond(phone-xs) {
        left: 45%;
        bottom: 0%;
        width: 25px;
        height: 25px;
      }
    }
  }

  .hero-title {
    font-size: 4.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 3.6rem;
    }
    @include respond(tab-port) {
      font-size: 2.9rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
    .hero-dev-role {
      font-size: 0.6em;
      font-family: Georgia, Times New Roman, Times, serif;
      color: #4a4a4a;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
  @keyframes spin {
    0%,
    100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(300deg);
    }
    70% {
      transform: rotate(150deg);
    }
  }
  @keyframes spinLinear {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes topBounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(250px);
    }
  }
  @keyframes scale {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
}
