// COLORS
// $primary-color: #02aab0;
// $secondary-color: #00cdac;
$primary-color: #100e17;
$secondary-color: rgb(23, 27, 30);

$white-color: #fff;

$dark-grey: #030303;

$dark-blue-text: rgb(23, 27, 30); // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
